.article-fulltext {
	max-width: 700px;
	margin: auto;
}

.article_cover_wrapper {
	padding-left: 16px;
	padding-right: 16px;
}

#article-navbar {
	padding-left: 0;
	padding-right: 0;
}

.left-article-block {
	margin-top: 50px;
}

.galley-pdf-link-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	a {
		color: black;
		padding: 10px;
		border: 1px solid $light-grey;
		text-align: center;
		background-color: white;
	}
}