/* 
 * El span Label modifica los labels de figuras y tablas EJ: Figura 1 
 */
span.label {
	font-size: 10px;
	font-weight: bold;
}

/* 
 * El span title modifica los titulos de figuras y tablas EJ: Figura 1:  *Revistas de....*
 * Modifica el Revistas de....
 */
span.title {
	font-size: 10px;
	font-style: italic;
}

/* 
 * Texto dentro de las tablas
 */
span.notes, p.caption, table {
	font-size: 10px;
}

div.caption {
	line-height: 90%;
}

p {
	color: black;
	line-height: 18pt;
	text-indent: 20pt;
}

a {
	color: black;
}

th {
	background-color: #F8F8FF;
}

.caption br {
	line-height: 50%;
}

h2 {
	font-size: 17pt;
	font-weight: bold;
}